<head>
  <% include ../views/head %>
</head>
<body>
  <header>
    <% include ../views/header %>
  </header>
  <div class="buttonContainer">
    <button class="previousButton"><a href="/2">Previous Quote</a></button>
    <button class="nextButton"><a href="/4">Next Quote</a></button>
    <button class="homeButton"><a href="/index">Home</a></button>
  </div>
  <div class="quoteContainer">
    <span class="singleQuote">"<%= quotes[2].quote %>"</span>
    <br />
    <span class="author"> - <%= quotes[2].name %></span>
  </div>
</body>
</html>
