<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Just Quotes</title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>
<body>
  <div class="titleContainer">
    <img class="title" src='/styles/title.svg'/>
  </div>
  <span>"<%= quotes[2].quote %>"</span>
  <span> - <%= quotes[2].name %></span>

</body>
</html>
