<head>
  <% include ../views/head %>
</head>
<body>
  <header>
    <% include ../views/header %>
  </header>
  <div class="quoteContainer">
    <span class="singleQuote">"<%= quotes[3].quote %>"</span>
    <br />
    <span class="author"> - <%= quotes[3].name %></span>
  </div>
</body>
</html>
