<head>
  <% include ../views/head %>
</head>
<header>
  <% include ../views/header %>

<div class="formContainer">
  <form action="/quotes" method="POST" class="quoteForm">
    <img src="../styles/quill.svg" class="icon" />
    <label class="label" for="quote">New Quote:</label><br />
    <input class="quoteInput" type="text" placeholder="quote" name="quote">
    <label class="label" for="author">New Author:</label><br />
    <input class="quoteInput" type="text" placeholder="author" name="name">
    <button id="submitButton" type="submit">Add Quote</button>
  </form>
</div>
<footer>
   <% include ../views/footer %>
</footer>
