  <head>
    <% include ../views/head %>
  </head>
  <body>
    <header>
      <% include ../views/header %>
    </header>
    <main>
      <div class="formContainer">
        <form action="/quotes" method="POST" class="quoteForm">
          <img src="../styles/quill.svg" class="icon" />
          <label class="label" for="quote">Quote:</label><br />
          <textarea class="quoteInput" name="quote"></textarea>
          <label class="label" for="author">Author:</label><br />
          <input class="quoteInput" type="text" name="name">
          <button id="submitButton" type="submit">Submit Quote</button>
        </form>
      </div>
    </main>
  </body>
</html>
