<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Just Quotes</title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>
<body>
  <div class="titleContainer">
    <img class="title" src='/styles/title.svg'/>
    <p class="subTitle">all your quotes are presented here, append a number to the url to see the quotes individually</p>
  </div>


  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">

      <span>"<%= quotes[i].quote %>"</span>
      <span> - <%= quotes[i].name %></span>

    </li>
  <% } %>
  </ul>

  <form class= "inputForm" action="/quotes" method="POST">
    <input type="text" placeholder="quote" name="quote">
    <input type="text" placeholder="author" name="name">
    <button type="submit">Add Quote</button>
  </form>
</body>
</html>
