<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>
<body>
  May your quotes follow you always.

  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">

      <span>"<%= quotes[i].quote %>"</span>
      <span>- <%= quotes[i].name %></span>

    </li>
  <% } %>
  </ul>

  <form class= "inputForm" action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Add Quote</button>
  </form>
</body>
</html>
