<head>
  <% include ../views/head %>
</head>
<body>
<header>
  <% include ../views/header %>
  <span class="allQuotes">"<%= quotes[0].quote %>"</span>
  <p>
    <button><a class="singleQuoteViews" href="/1">single quote views</a></button>
  </p>
</header>

  <ul class="quotes">


  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">

      <span class="allQuotes">"<%= quotes[i].quote %>"</span>
      <br />
      <span class="author"> - <%= quotes[i].name %></span>

    </li>
  <% } %>
  </ul>



</body>
</html>
