<head>
  <% include ../views/head %>
</head>
<header>
  <% include ../views/header %>
</header>
<body>
  <ul class="quotes">

  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">

      <span class="allQuotes">"<%= quotes[i].quote %>"</span>
      <br />
      <span class="allAuthors"> - <%= quotes[i].name %></span>

    </li>
  <% } %>
  </ul>
</body>
</html>
