  <head>
    <% include ../views/head %>
  </head>
  <body>
    <header>
      <% include ../views/header %>
    <main>
      <div class="quoteContainer">
        <span class="singleQuote">"<%= quotes.quote %>"</span>
        <span class="author"><%= quotes.name %></span>
      </div>
    </main>
  </body>
</html>
