  <head>
    <% include ../views/head %>
  </head>
  <body>
  <header>
    <% include ../views/header %>
  </header>
  <main>

    <ul class="quotes">
      <h1 class="heading">All Quotes</h1>
    <% for(var i=0; i<quotes.length; i++) {%>
      <li class="quote">

        <span class="allQuotes">"<%= quotes[i].quote %>"</span>
        <br />
        <span class="allAuthors"> - <%= quotes[i].name %></span>

      </li>
    <% } %>
    </ul>
  </main>
  </body>
</html>
