html {
  width: 100%;
  height: 100%;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

.formContainer {
  display: flex;
  justify-content: center;
}


label.label {
  font-size: 1.3vw;
  padding-left: 5.5vw;
  color: white;
}

#submitButton {
  background-color: #d9be99;
  font-size: 1vw;
  box-shadow: 0vw 1vw 1vw #363636;
  margin-left: 6vw;
}

.inputForm {
  background-color: hsla(207, 62%, 11%, .43);
  width: 20vw;
  padding:.3vw;
  box-shadow: 0vw 1vw 1vw hsla(357, 42%, 14%, .5);
  border-right: .4vw solid #363636;
  border-left: .4vw solid #d9be65;
  border-bottom: .4vw solid #1b2327;
  border-top: .4vw solid #9c9e73;
  border-radius: .3vw;
}

.quoteInput {
  width: 9vw;
  height: 2vh;
  font-size: 1vw;
}

body {
  font-size: 4vw;
  padding: 1vw;
  background-image: url(bg.jpg);
  background-size: 300vh;
  color:white;
}

li{
  list-style-type: none;
}

h1{
  text-align: center;
}

.titleContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title{
 width: 40vw;
}

.subTitle{
  font-size: 1.3vw;
}

.quotes {
  font-size: 2vw;
  text-align: center;
  text-shadow: 0vw .2vw .4vw #363636;
}

.quotes > li {
  margin: 3vh;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.singleQuote {
  margin-top: 10vh;
  font-size: 3vw;
  text-align: center;
  text-shadow: 0vw .2vw .4vw #363636;
}

.author {
  font-size: 1.3vw;
  text-align: center;
  text-shadow: 0vw .2vw .4vw black;
  color: #faebd7;
}

.buttonContainer {
  margin: 2vw;
  display: flex;
  justify-content:space-around;

}

.previousButton, .homeButton {
  background-color:#d9be65;
  color: white;
  font-size: 1.2vw;
  box-shadow: 0vw 1vw 1vw #363636;
}

p {
  text-align: center;
}

.previousButton, .nextButton, .homeButton, #submitButton {
    transition: .4s ease-out;
}

.previousButton > a {
  text-decoration: none;
  color: #363636;
}

.homeButton > a {
  text-decoration: none;
  color: #363636;
}

.nextButton {
  background-color:#d9be65;
  color: white;
  font-size: 1.2vw;
  transition: .6s ease-out;
  margin-left: 60vw;
  box-shadow: 0vw 1vw 1vw #363636;
}

.nextButton:hover, .previousButton:hover, .homeButton:hover, #submitButton:hover {
  background-color: #666666;
  text-decoration: overline;
}

.nextButton > a {
  text-decoration: none;
  color: #363636;
}

.nextButton > a:hover, .previousButton > a:hover, .homeButton > a:hover, #submitButton:hover  {
  color: white;
  transform: scale(1.05);
}

.singleQuoteViews {
  text-decoration: none;
  font-size: 1.5vw;
  color: slategray  ;
}

.allQuotes {
  color: white;
  font-size: 1.5vw;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
/* Styles */

  .singleQuote {
    font-size: 6vw;
  }

  .homeButton, .nextButton, .previousButton, #submitButton {
    width: 12vw;
    height: 8vh;
    font-size: 2.5vw;
  }
}
